* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
/* COMENTÁRIO */
.all-content{
  background: linear-gradient(
    -80deg,
    #563c9d,
    #482c86,
    #6c3cdd,
    #7d4dff,
    #563c9d
  );
  background-size: 300% 300%; /* Permite o movimento do gradiente */
  background-repeat: no-repeat;
  animation: bg 12s ease infinite;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5); /* Efeito de profundidade */
}

@keyframes bg {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}


.section {
  width: 100vw; /* Largura total da viewport */
  height: 100vh; /* Altura total da viewport */
  display: flex; /* Para centralizar conteúdo */
  align-items: center; /* Alinhamento vertical */
  justify-content: center; /* Alinhamento horizontal */
  font-size: 2rem; /* Tamanho da fonte */
  color: #fff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Brilho no texto */
}

.home-section {
}

.about-section {
}

.techs-section {
}

.projects-section {
}

.contact-section {
}

.navbar-position{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
